._container_1sur3_1 {
    position: relative;
    flex-grow: 7;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

._chatTitle_1sur3_12 {
    font-size: 2em;
    background-color: aliceblue;

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

._messages_1sur3_21 {
    width: 98%;
    font-size: 1.5em;
    overflow-y: scroll;
}

._senderMssg_1sur3_27 {
    margin: 2px 0 2px auto;

    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;

    background-color: rgb(181, 218, 251);
}

._receiverMssg_1sur3_37 {
    margin: 2px auto 2px 0;

    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;

    background-color: rgb(255, 159, 130);
}

._messageInput_1sur3_47 {
    width: 98%;
    margin-bottom: 5px;
}

._messageInput_1sur3_47 > input {
    width: 100%;
}